<div class="error">
  <div class="error--message">
    {{errorMessage$ | async}}
  </div>
</div>
<mat-card-content>
  <form [formGroup]="actionPageFormGroup" (ngSubmit)="submit$.next(actionPageFormGroup.value)">
      <mat-form-field class="size--full">
        <input matInput placeholder="Naam, deze naam wordt gebruikt als navigatie" formControlName="name">
        <mat-hint>Kies een duidelijke naam, maak geen gebruik van spaties of leestekens, deze naam wordt gebruikt als navigatie.</mat-hint>
          <mat-error *ngIf="actionPageFormGroup.get('name').errors">
            <span *ngIf="actionPageFormGroup.get('name').errors?.required">
              zonder naam wordt je pagina moeilijk te vinden
            </span>
            <span *ngIf="actionPageFormGroup.get('name').errors?.minLength">
          deze naam is te kort, gebruik minimaal 6 tekens
        </span>
          </mat-error>

      </mat-form-field>
      <mat-form-field class="size--full">
        <input matInput placeholder="Geef je actiePagina een goeie titel" formControlName="title">
        <mat-hint>Een goeie titel is niet te kort maar zeker ook niet te lang, vat de essentie samen in 1 zin die de aandacht van de lezer trekt</mat-hint>
          <mat-error *ngIf="actionPageFormGroup.get('title').errors?.required">
            Give it a go.... each page needs a proper title
          </mat-error>
      </mat-form-field>
      <mat-form-field class="size--full">
        <textarea matInput placeholder="please provide some info about why you support this foundation "
                formControlName="foundationInfo"
                matTextareaAutosize
                matAutosizeMinRows="5"
                matAutosizeMaxRows="10"
                [froalaEditor]
        ></textarea>
      </mat-form-field>
    <input type="submit" value="continue to step 2">
  </form>
</mat-card-content>
