 <ul class="float__right">
    <li>login</li>
  </ul>
  <ul class="float__left">
    <!-- Todo check if we can get some of these links from db  -->
    <li>link1</li>
    <li>link2</li>
    <li>link3</li>
    <li>link4</li>
    <li>link5</li>
  </ul>
