header{
  background-color: #494949;
  color: #fff;
  margin: 0;
  padding: 20px;
  float: left;
  width: 100vw;
  max-width: 100vw;
  box-sizing: border-box;
  .header--logo{
    width: auto;
    float: left;
  }
}
