@keyframes slidy {
  0% { left: 0; }
  15% { left: 0; }
  20% { left: -100%; }
  35% { left: -100%; }
  40% { left: -200%; }
  55% { left: -200%; }
  60% { left: -300%; }
  75% { left: -300%; }
  80% { left: -400%; }
  100%{ left: -400%; }
}
.slider{
  overflow: hidden;
  width: 100vw;
  max-height: 500px;
  figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
    img{
      width: 20%;
      float: left;
    }
  }
}
