<div class="slider" *ngIf="actionPage$ | async; let actionPage; else loading">
  <figure> <!-- Todo ngFor image in page.images -->
    <img *ngFor="let image of actionPage.sliderImages" [src]="_sanitize(image.value)" alt ="{{image.name}}">
  </figure>
</div>
<div class="content">
  <div class="sidebar">
    <div class="sidebar--image">

    </div>
    <div class="sidebar--cta">
      Ik ben deze actie gestart op [Datum] en heb inmiddels [opgehaald bedrag] opgehaald! <br>
      help JIJ mij om mijn doel van [bedrag doel] te behalen
    </div>
  </div>
  <div class="main" *ngIf="actionPage$ | async; let actionPage; else loading">
    <h1>{{actionPage.title}}</h1>
    <div *ngIf="actionPage.foundationInfo; else defaulfoundationInfo" class="main--intro fr-view" [froalaView]="actionPage.foundationInfo"></div>
  </div>
</div>
<ng-template #loading>
  <h1>Loading</h1>
</ng-template>
<ng-template #defaultfoundationInfo>
  <div>
    <p>Hier komt een default tekst voor als men niets invult</p>
  </div>
</ng-template>
